<div class="row">
  <div class="col col-sm-3 col-md-2 p-2">
    <button 
      class="btn btn-block btn-outline-warning"
      (click)="changeCategory()">
      Select All
    </button>

    <button 
      class="btn btn-outline-warning btn-block"
      *ngFor="let category of categories"
      [class.active]="category === selectedCategory"
      (click)="changeCategory(category)">
      {{ category }}
    </button>
  </div>

  <div class="col col-sm-9">
    <div 
      class="card m-1 p-1 bg-light"
      *ngFor="let item of items">
      <h4 class="card-header">
        {{ item.name }}
      </h4>
      <div class="card-text bg-white p-1">
        {{ item.description }}
      </div>
    </div>
  </div>
</div>
